.nav{
    position: relative;
    width: 100%;
    z-index: 10;
}

.title{
    color: white;
    float: left;
    position: fixed;
    top: 3px;
    left: 15px;
    font-size: 20px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: orange;
}

.button {
    float: right;
    position: fixed;
    right: 15px;
    top: 17px;
    color: rgba(245, 245, 245, 0.8);
    display: flex;
    padding: 3px 15px;
    border-radius: .5rem;
    background-color:  rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.2s;
    border-width: 0;
    text-decoration: none;
}

.icon {
    height: 25px;
    opacity: 0.8;
}

.button:hover{
    right: 11.5px;
    top: 14.5px;
    color: rgb(38, 42, 44);
    background-color: rgb(245, 245, 255);
    padding: 5px 20px;
}

.button:hover .icon{
    opacity: 1;
}

.button:active{
    transform: translateY(4px);
}

.wallet{
    font-size: 15px;
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.01rem;
}